### DAY 3 — UNDERSTANDING RELATIONSHIPS BETWEEN FILES
***Today’s Goal:*** Understand:
                    - How orders connect to customers
                    - What is a key
                    - Why we don’t merge blindly

#### Import packages

In [1]:
import pandas as pd

#### Load TWO datasets (Only two)

In [2]:
orders_df = pd.read_csv("DATA/olist_orders_dataset.csv")
customers_df = pd.read_csv("DATA/olist_customers_dataset.csv")

In [4]:
orders_df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [5]:
customers_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

Which column appears in both?

#### Find the connecting column
- In orders_df → customer_id
- In customers_df → customer_id

#### Check if the key is unique

In [10]:
customers_df['customer_id'].nunique()

99441

In [11]:
len(customers_df)

99441

##### unique customer_id's and len of customer_id's both are same means all customer_id's are unique 
- If not equal → customer can place multiple orders (normal).

##### Relationship Understanding
- One customer can have many orders
- orders_df.customer_id → foreign key
- customers_df.customer_id → primary key

#### Check missing customer_id

In [13]:
orders_df['customer_id'].isna().sum()

np.int64(0)

- Missing key = broken relationship.

#### Conclusion 
- orders and customers are connected using customer_id
- One customer can place multiple orders
- customer_id is unique in customers dataset
- No missing customer_id found in orders
- Merging requires understanding relationship first

#### Learning 
- We check the relationship between two tables to correctly connect related data, avoid mismatches, and get accurate results when combining information.
- Checking relationships between tables ensures data integrity and helps choose the correct join method for accurate analysis and reporting.

***Why we join the tables?***

We join tables to combine related information from different places so we can understand the full story and answer real-world questions.